*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

html {
    
    scroll-behavior: smooth;
    }
 body {
        caret-color: transparent;
        background-color: whitesmoke;
 }

 #landing {
     background: #1A2F43;
    
 /* background: linear-gradient(rgba(0, 34, 65, 0.61), rgba(0, 34, 65, 0.61)); */
    
   }
 #hr-landing{
   min-height: .5em;
   border-radius: 8px;
 }
 #logo img {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    box-shadow: 2px 2px #003363;
    border-spacing: 2px;
    
 }
.nav-link {
    font-size: 20px;
	font-style: normal;
	font-weight: 700;
    color: #004E84 !important;
    text-decoration: none;
    position: relative;
 }

 .nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #059e0d; 
    position: absolute;
    bottom: -5px; 
    left: 0;
    transition: width 0.3s ease;

}

 .nav-link:hover::after {
    width: 100%;
}

 #img-carousel {
    height: 50vh;
    object-fit: cover;
    
   }

 #about {
    background: #003363;
 }

 #btn-landing {
   background: #059e0d;
   border-radius: 20px;
}

 .line {
    width: 150px;
    height: 4px;
    background: #059e0d;
    margin: 10px auto;
    border-radius: 5px;
}

.embed-responsive {
   border: 2px solid black;
   border-radius: 5px;
}


 .footer {
   background-color: yellowgreen;
}

}

